{{ define "main" }}
<header class="">
    <!-- Breadcrumbs -->
    {{ partial "book/breadcrumbs.html" . }}

    <!-- Title -->
    <h1 class="text-4xl font-bold mb-2">{{ .Title }}</h1>

    {{ if .Lastmod }}
    <!-- Last updated -->
    <div class="not-prose pt-2 pb-4">
        <ul class="ml-2 text-sm text-gray-500 flex flex-row space-x-4">
            {{ with .Lastmod }}
                <li>Last updated: {{ .Format "January 1, 2006" }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</header>

<div class="w-4/5 border-b border-gray-300"></div>

<div class="flex flex-col md:flex-row w-full mt-4">
    <!-- Left nav -->
    <nav class="w-full md:w-1/4 py-2 h-fit mt-4 border border-gray-300 rounded-md shadow">
        {{ partial "book/toc.html" . }}
    </nav>
    <!-- Main content -->
    <article class="w-full md:w-3/4 pl-8 pt-4 prose max-w-none">
        {{ emojify .Content  }}
    </article>
</div>

{{ end }}