{{ define "main" }}
    <article class="prose max-w-none">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div>
            {{ .Content }}
        </div>
    </article>
    {{ range .Pages }}
    <div class="mb-10 pl-5 border-l border-gray-300">
        <a href="{{ .Permalink }}"><p class="text-xl font-semibold text-sky-700">{{ .Title }}</p></a>
        <p class="text-sm text-gray-500 pb-2">First posted on: {{ .Date.Format "2006-01-02" }}</p>
        <p class="leading-relaxed">
            {{ .Summary }}
        </p>
    </div>
    {{ end }}
{{ end }}

