{{ define "main" }}
    <article class="prose max-w-none">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div>
            {{ .Content }}
        </div>
    </article>
    {{ range .Pages }}
    <div class="mb-10 pl-5 border-l border-gray-300">
        {{ $padding := cond (not .Date) "pb-2" ""}}
        <a href="{{ .Permalink }}"><p class="text-xl font-semibold text-sky-700 {{ $padding }}">{{ .Title }}</p></a>
        {{ with .Date }}
            <p class="text-sm text-gray-500 pb-2">Published: {{ .Format "January 01, 2006" }}</p>
        {{ end }}
        <p class="leading-relaxed">
            {{ .Summary }}
        </p>
        {{ if .Truncated }}
            <a href="{{ .Permalink }}" class="text-sky-600">Read more</a>
        {{ end }}
    </div>
    {{ end }}
{{ end }}

