{{ define "main" }}
    <article>
        <header class="prose max-w-none prose-h1:mb-0 prose-p:mt-1 prose-p:mb-1">
            <h1 class="">{{ .Title }}</h1>
            <div class="not-prose pt-2 pb-4">
                <ul class="ml-2 text-sm text-gray-500 flex flex-row space-x-4">
                    {{ with .Date }}
                        <li>Published: {{ .Format "January 2, 2006" }}</li>
                    {{ end }}
                    {{ with .Lastmod }}
                        <li>/</li>
                        <li>Last updated: {{ .Format "January 2, 2006" }}</li>
                    {{ end }}
                </ul>
            </div>
        </header>
        <div class="prose max-w-none">
            {{ .Content }}
        </div>
    </article>
{{ end }}

