<div class="flex flex-col md:flex-row mb-10 border-l-2 border-gray-200">
    <div class="md:w-1/4 pl-5 font-semibold text-gray-800">
        {{ .SectionTitle }}
    </div>
    <div class="md:w-3/4">
        <div class="mb-8">
            {{ range $Entry := .SectionEntries }}
            <div class="mb-6">
                <p class="text-md font-semibold text-indigo-700">{{ .Entity }} - {{ .Title }}</p>
                <p class="text-sm text-gray-500 mb-1">{{ .From }} - {{ .To }}</p>
                <p class="leading-relaxed">
                    {{ .Description }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</div>