<header class="bg-white shadow">
    <nav
        class="container mx-auto px-6 py-3 flex justify-between items-center flex-wrap md:flex-no-wrap"
        x-data="{ open: false }">
            <!-- logo -->
            <a href="/" class="text-lg font-semibold text-gray-900 no-underline tracking-tighter">Greg Domzalski</a>

            <!-- mobile menu -->
            {{ partial "menu_compact.html" . }}

            <!-- desktop menu -->
            {{ partial "menu_full.html" . }}
    </nav>
</header>